category_encoders
matplotlib
numpy
openai
openpyxl
pandas
plotly
requests
scikit_learn
scipy
seaborn
statsmodels
streamlit
streamlit_extras
streamlit_lottie
streamlit_pandas_profiling
ydata_profiling
pingouin
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
