category_encoders
matplotlib
numpy
openai
openpyxl
pandas
plotly
requests
scikit_learn
scipy
seaborn
statsmodels
streamlit
streamlit_extras
streamlit_lottie
streamlit_pandas_profiling
ydata_profiling
pingouin
nbconvert>=6.3.0b0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
